@import "external-fonts.css";

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #888;
  font-family: psu , awesome, arial;
  background-image: url("../img/body.jpg");
  background-repeat: round;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.side-functions{
  width: 13%;
  height: 100%;
  background-color: rgba(0,87,129, 0.7);
  background-image: url("../img/header-style.png");
  background-position: top left;
  background-repeat: no-repeat;
  float: left;
  z-index: 10;
  position: relative;
  -webkit-box-shadow: 4px  4px 0 4px #AAA;
  box-shadow: 2px 2px 4px 1px #AAA;
}

.logo{
  margin-top: 40px;
  height: 22%;
}

.logo img{
  display: block;
  margin: auto;
  width: auto;
  height: 100%;
}

.options > ul{
  padding: 0;
  list-style: none;
}

.options > ul > li{
  display: block;
}

.options > ul > li > a{
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border-left: 3px solid transparent;
  color: #FFF;
  padding: 15px 0;
  font-size: 0.85em;
}

.options > ul > li > a:hover, .options > ul > li > a:focus{
  border-left-color: #45D6E9;
  color: #45D6E9;
  background-color: rgba(0,87,129, 1);
  box-shadow: 2px 2px 10px rgba(40, 40, 40, 0.5)  inset;
  outline: none;
}

.options > ul > li > a:active{
  font-weight: bold;
  box-shadow: 5px 5px 10px rgba(40, 40, 40, 0.5)  inset;
}

.main-content{
  width: 87%;
  height: 100%;
  float: left;
}

.main-content > div{
  margin-left: 15px;
}

.search-panel{
  height: 18%;
}

.search-panel > div{
  height: 33.33%;
}

.search-box{
  padding-top: 8px;
}

.search-box > .search{
  width: 35%;
  vertical-align: bottom;
  padding: 4px 4px;
  border: 1px solid #ccc;
  border-right: none;
  display: inline-block;
}

.search-box > .search:focus{
    background-color: #FEFCC8;
    outline: none;
    border-color: #45D6E9;
}

.search-box > .search-btn{
  padding: 5px 20px;
  background-color: #FFF;
  font-weight: bold;
  font-family: Segoe MDL2 Assets;
  border: 1px solid #45D6E9;
  border-left: none;
  display: inline-block;
  color: #fff;
  background-color: #45D6E9;
}

.search-tools{
  position: relative;
}

.search-tools > .navegation-tools{
  padding: 2.5px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  right: 5%;
  top: 20%;
}

.search-tools > .label{
    font-size: 0.8em;
    font-weight: bold;
}

.search-tools > .navegation-tools > a{
  padding: 0 10px;
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
}

.search-tools > .navegation-tools > span{
  padding: 0 10px;
  font-size: 0.8em;
  font-weight: bold;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.sort{
    height: 100%;
    display: inline-block;
}

.sort > select{
  border: 1px solid #CCC;
  color: #888;
  background-color: rgb(255, 255, 255);
  outline: none;
  height: auto;
  padding: 2% 0;
  margin-top: 10%;
}

.grouping{
  position: relative;
}

.catagories{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 55%;
  height: 70%;
}

.grouping > .catagories > a{
  border: 1px solid transparent;
  border-bottom: none;
  display: inline-block;
  text-decoration: none;
  color: #999;
  height: 100%;
  width: 33%;
  padding: 5px 0;
  font-size: 0.9em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
}

.grouping > .catagories > a.All:hover, .grouping > .catagories > .All-selected{
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #2ABBCF;
}

.grouping > .catagories > a.Master:hover, .grouping > .catagories > .Master-selected{
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E84747;
}

.grouping > .catagories > a.Bacholer:hover, .grouping > .catagories > .Bacholer-selected{
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #75B62A;
}

.grouping > .catagories > a:hover, .grouping > .catagories > .selected{
  border-bottom: none;
  color: #888;
  font-weight: bold;
  box-shadow: 1px 0px 8px #ccc;
  background-color: rgba(255, 255, 255, 1);;
}

.records{
  height: 82%;
  overflow: auto;
  box-shadow: -1px 0px 8px #ccc;
}

.records-header{
  position: relative;
  z-index: 1;
  height: auto;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 2px solid #ccc;
}

.records-header p{
  margin: 10px 0;
}

.records-header > .label, .record > .record-row > .info{
  display: inline-block;
  text-align: center;
  width: 19%;
  height: 100%;
}

.records-header > .label{
  font-weight: bold;
  font-size: 0.9em;
}

.record{
  border-bottom: 1px solid #ccc;
  font-size: 0.8em;
  color: #aaa;
  cursor: pointer;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.record:hover{
    font-weight: bold;
}

.record-row{
  background-color: rgba(255, 255, 255, 0.9);

}

.close-row{
  display: none;
}

.record-profile{
  position: relative;
  height: 0;
  max-height: 0;
  visibility: hidden;
  background: rgba(238,252,251, 0.6);
  border-left: 3px solid #26B6C9;
  -webkit-transition: max-height 0.8s, height 0.8s;
  transition: max-height 0.8s, height 0.8s;
  transition-timing-function: ease-out;
}

.record > .open-profile{
  visibility: visible;
  height: auto;
  max-height: 300px;
  padding: 10px 0;
  -webkit-transition: height 0.8s, max-height 0.8s;
  transition: height 0.8s, max-height 0.8s;
  box-shadow: 2px 2px 8px rgba(38,182,201, 0.5)  inset;
  transition-timing-function: ease-out;
}

.record-profile > .profile-img{
  opacity: 0.2;
  transform: scale(0.3) translateY(100px);
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  top: -20px;
  left: 10px;
  z-index: 100;
  background-color: #ccc;
  transition: visibility 0.5s, transform 0.3s, opacity 0.3s;
  transition-timing-function: ease-out;
}

.record-profile > .open-profile-img{
  transform: scale(1) translateY(0);
  opacity: 1;
  transition: transform 0.5s, opacity 0.5s;
  transition-timing-function: ease-out;
}

.profile-img > img{
  height: 100%;
  width:auto;
}

.block-info{
  width: 29%;
  display: inline-block;
  vertical-align: top;
}

.block-info > *, .social-contact > *{
  opacity: 0;
}

.open-profile > .block-info > *, .open-profile > .social-contact > *{
  opacity: 1;
  transition: opacity 0.5s 0.2s;
}

.record-profile > section:first-of-type, .social-contact {
  margin-left: 80px;
}

.record-profile .block-title{
  font-size: 0.9em;
  font-weight: normal;
  padding-bottom: 2px;
  display: block;
  color: #45D6E9;
}

.block-info > div{
  display: inline-block;
}

.labels > label, .block-inputs label{
  color: #43809D;
}

.block-inputs > div > input.field{
  background-color:#FEFCC8;
  color: #111;
  border: 1px solid #45D6E9;/*#2ABBCF*/
  outline: none;
  font-size: 0.85em;
  font-weight: normal;
  border-radius: 5px;
  margin: 0;
  padding: 1px;
}

.block-inputs > div > input.field:focus{
    border: 2px solid #2ABBCF;
}

.block-inputs > div > input[Readonly], .block-inputs .field{
  background-color: inherit;
  font-family: inherit;
  font-weight: bold;
  font-size: 1em;
  color: inherit;
  margin: 0;
  border: none;
  padding: 0;
}

.block-inputs > div > input[Readonly]:focus{
    border: none;
}

.block-inputs{
    width: 95%;
    border-right: 2px dashed #ccc;
}

.block-inputs > div{
    padding: 5px 0;
}

.block-inputs > div > label, .block-inputs > div > .field{
    display: inline-block;
    vertical-align: bottom;
    font-weight: bold;
}

.block-inputs .field{
    width: 59%;
}

.block-inputs label{
    width: 39%;
}

.social-contact > div{
    padding-top: 15px;
    display: inline-block;
    vertical-align: bottom;
    width: 49%;
}

.social-contact > .social-media > span, .social-contact > .social-media > a{
    font-weight: normal;
    display: inline-block;
    vertical-align:  bottom;
    margin-right: 10px;
    font-size: 1.8em;
}

.facebook{
    margin-left: 15px;
}

.facebook::before{
    content: "\f230";
}

.facebook:hover{
    color: #3B5998;
}

.twitter::before{
    content: "\f081";
}

.twitter:hover{
    color: #1DA1F2;
}

.linkedIn::before{
    content: "\f08c";
}

.linkedIn:hover{
    color: #0177B5;
}

.alumni{
    width: 26px;
    height: 26px;
    border-radius: 4px;
    background-color: #E84747;
    padding: 1px 0;
    transition: transform 0.3s, background-color 0.3s;
}

.alumni > img{
    display: block;
    height: 100%;
    width: auto;
    margin: auto;
}

.alumni:hover{
    background-color: #888;
    transform: scale(1.2);
    transition: transform 0.3s, background-color 0.3s;
}

.facebook:hover, .twitter:hover, .linkedIn:hover{
    transition: color 0.3s;
}

.functions > span{
    font-weight: normal;
    display: inline-block;
    vertical-align:  bottom;
    margin-left: 10px;
    font-size: 1.4em;
    color: #ccc;
    transition: transform 0.3s, color 0.3s;
}

.write-note::before{
    content: "\f249";
}

.write-note:hover, .edit:hover, .close-btn:hover{
    transform: scale(1.2);
    color: inherit;
    transition: transform 0.3s, color 0.3s;
}

.edit::before{
    content: "\f040";
}

.close-btn::before{
    content: "\f00d";
}

.close-btn{
    display: block;
    position: absolute;
    color: #ccc;
    font-weight: normal;
    font-size: 1.4em;
    top: 10px;
    right: 10px;
    transition: transform 0.3s, color 0.3s;
}

/* To be edit */
.record:nth-child(odd) > .record-row{
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #E84747;
}

.record:nth-child(even) > .record-row {
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #75B62A;
}