@font-face {
  src: url('../fonts/neotech-webfont.woff');
  font-family: psu;
}

@font-face {
  src: url('../fonts/fontawesome-webfont.woff');
  font-family: awesome;
}

@font-face {
  src: url('../fonts/fontawesome-webfont.woff2');
  font-family: awesome2;
}
