@import "external-fonts.css";
html{
    /* Same size as footer height */
    padding-bottom: 90px;
    position: relative;
}


html, body{
  margin: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  color: #888;
  font-family: psu , awesome,awesome2, arial;
  background-image: url("../img/noiseBg.png");
  background-repeat: repeat;
}

div{
    border-radius: 3px;
}

ul{
    padding: 0;
    margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.top-functions{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(20,64,110, 0.9);
    height: 70px;
    padding: 3px 0;
    border-bottom: 2px solid rgba(223,185,69, 1);
    box-shadow: 1px 1px 10px 5px rgba(20,64,110, 0.5);
    z-index: 1000;
}

.container{
    width: 100%;
    position: relative; 
    display: block;
    height: 100%;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.4);
    vertical-align: middle;
}

.container img{
    display: block;
    height: 100%;
    width: auto;
    margin: auto;
}

.search-box{
    display: inline-block;
    padding-left: 20px;
    width: 500px;
    position: relative;
    top: -15px;
}

.search-box > .search{
    display: inline-block;
    width: 400px;
    height: 25px;
    vertical-align: middle;
    border-radius: 5px;
    border: none;
    padding-left: 8px;
}

.search:focus{
    background-color: #FEFCC8;
    outline: none;
    border-color: #45D6E9;
}

.search-btn{
    display: inline-block;
    padding: 5px 20px;
    background-color: #FFF;
    font-weight: bold;
    font-family: Segoe MDL2 Assets;
    border: 1px solid #45D6E9;
    border-left: none;
    display: inline-block;
    color: #fff;
    background-color: #45D6E9;
    position: relative;
    left: -50px;
    vertical-align: middle;
    border-radius: 5px;
  
}

.psu-logo img{
  display: inline-block;
  margin: 0;
  padding-left: 15px;
  width: auto;
  height: 40px;
  z-index: 5;
}

.links{
    display: inline-block;
    position: relative;
    top: -12px;
    width: auto;
    vertical-align: middle;
    height: 25px;
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: #ccc;
    padding-right: 20px;
}

.container > .links >  a {
   display: inline-block;
   vertical-align: middle;
   color: white;
   margin-left: 20px;
   font-family: Arial;
   font-weight: bold;
   text-decoration: none;
}

.container > .main-content, footer > .main-content{
    padding: 0;
    height: 100%;
    position: relative
}

.icons{
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 0;
    top: 0;
    height: 20px;
    margin: auto;
}

.icons > span{
    padding-left: 20px;
    cursor: pointer;
}

.logout.icon:before{
    content: "\f08b";
    color: #FFF;
}

.notifications-icon:before{
    content: "\f0f3";
    color: #FFF;
}

.settings-icon:before{
    content: "\f013";
    color: #FFF;
}
/*********************************************** Starting the profile info structure *********************************************/

.main-content{
  padding-top: 150px;
  width: 87%;
  margin: auto;
}


/********************************************** Profile info starts *************************************************************/
.profile-container{
    width: 80%;
    height: 74.2%;
     
    margin: 0 50px 0 50px;
    background-color: rgba(255, 255, 255, 0.00);
    
}

.profile-heading{
    width: 100%;
    height: 15%;
    background-color: rgba(255, 255, 255, 0.9);
    border: solid thin rgba(0,87,129, 0.4);
    border-bottom: 4px dashed #999;
    box-shadow: 0 2px 8px 2px rgba(0,87,129, 0.2);
    border-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.profile-heading .profile-img-block{
    float: left;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    z-index: 100;
    background-color: #ccc;
}

.profile-img-block.insider{
    position: absolute;
    width: 100%;
    cursor: pointer;
    height: 100%;
    box-shadow: 0 0 20px #aaa inset;
    transition: box-shadow 0.5s;
}

.profile-img-block.outsider{
    position: relative;
    height: 150px;
    width: 150px;
    top: -50px;
    left: 10px;
    box-shadow: 0 0 8px 1px #ccc;
    border: 4px solid #fff;
    overflow: hidden;
}

.upload-phote{
    position: absolute;
    box-shadow: 0 -6px 10px 0px #999;
    bottom: -30%;
    width: 100%;
    height: 25%;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.7);
    transition: bottom 0.5s;
    z-index: 1000;
    color: rgba(255,255,255,0.9);
    cursor: pointer;
}

.upload-phote > input{
    opacity: 0;   
}

.upload-icon, .upload-phote > input{
    position: absolute;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    text-align: center;
    top: 5px;
    font-size: 1.4em;
}
.upload-icon:before{
    content: "\f093";
}

.profile-img-block.outsider:hover .upload-phote{
    bottom: 0;
    transition: bottom 0.3s;
}

.profile-img-block.outsider:hover .insider{
    box-shadow: 0 0 20px 5px #999 inset;
    transition: box-shadow 0.3s;
}

.profile-image{
    display: block;
    height: 100%;
    width: auto;
    margin: auto;
}

.profile-brief{
    height: 100%;
    position: relative;
    padding: 15px 10px;
    color: rgba(0,87,129, 1);
}

.role{
    font-size: 0.75em;
    color: rgba(42,187,207, 1);
}

.role.alumni:before{
    content: "\f19d";
    margin-right: 10px;
}

.name{
    color: rgba(0,87,129, 1);
    font-size: x-large;
}

.general-info > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.7em;
}

.name > span, .general-info > ul, .role.alumni:before,.general-info > ul > li:nth-child(odd){
    margin-left: 20px;
}

.general-info > ul > li .student-info-data, .general-info > ul > li .student-info-data a{
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: bold;
    padding-left: 5px;
    color:  rgba(223,185,69, 1);
}

.profile-brief > .general-info{
    padding-top: 15px;
}

.general-info > ul > li{
    padding: 3px 0;
    display: inline-block;
    width: 40%;
}

.general-info li div, .general-info li span.icon{
    display: inline-block;
    width: 90%;
}

.general-info li span.icon{
    font-size: 1.3em;
    width: 5%;
}

.icon.comp:before{
    content: "\f0f7";
    vertical-align: top;
    font-weight: bold;
}

.icon.job:before{
    content: "\f2c1";
    font-size: 1.2em;
}

.icon.mobile:before{
    content: "\f10b";
    font-size: 1.4em;
}

.icon.phone::before{
    content: "\f095";
}

.icon.email:before{
    content: "\f0e0";
}

.profile-info-block{
   width: 100%;
   border-radius: 15px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   box-shadow: 0 -1px 2px 1px rgba(0,87,129, 0.2);
   height: auto;
   height: 400px;
   margin-top: 40px;
   background-color: rgba(255,255,255,0.6);
   border: solid thin rgba(0,87,129, 0.4);
   border-top: 4px dashed #ccc;
   position: relative;
   
}

.styledBtn{
    height: 45px;
    width: 45px;
    font-size: 1.3em;
    color: rgba(0,0,0,0.3);
    border-radius: 50%;
    border: 1px solid rgba(100,100,100,0.3);
    border-bottom-width: 3px;
    position: absolute;
    right: 45px;
    bottom: 20px;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.styledBtn:hover, .styledBtn:focus, .styledBtn:active{
    outline: none;
    transform: scale(1.05);
    transition: transform 0.3s, box-shadow 0.5s;
}

.editBtn{
    background-color: rgba(243,205,89, 1);
    box-shadow: 2px 2px 10px 2px rgba(243,205,89, 0.9);
}

.editBtn:hover, .editBtn:focus, .editBtn:active{
    box-shadow: 0 0 12px 3px rgba(243,205,89, 0.9);
}

.editBtn > span{
    display: inline-block;
    padding-left: 2px;
    padding-top: 4px;
}

.editBtn > span::before{
    content: "\f044";
}

.saveBtn{
    transform: rotateY(270deg);
    background-color: #45D6E9;
    box-shadow: 2px 2px 10px 2px rgba(69,214,233, 0.9);
}

.saveBtn:hover, .saveBtn:focus, .saveBtn:active{
    box-shadow: 0 0 12px 3px rgba(69,214,233, 0.9);
}

.saveBtn > span::before{
    content: "\f0c7";
}

.mobile-menu{
    height: 8%;
    background-color: rgba(255,255,255, 0.4);
    display: none;
    border-bottom: 1px dotted #ccc;
}

.menuBtn{
    margin-left: 2px;
    margin-top: 2px;
    text-align: center;
    height: 35px;
    width: 35px;
    cursor: pointer;
    display: inline-block;
}

.menuBtn:before{
    font-size: 28px;
    content: "\f0c9";
}

.menu{
    display: inline-block;
    width: 20%;
    vertical-align: top;
    padding-top: 20px;
    height: 100%;
    background-color: rgba(255,255,255, 0.4);
    border-bottom-left-radius: 20px;
    border-right: 1px solid #ccc;
}

.profile-categories{
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    vertical-align: top;
}

.right-div{
    width: 80%;
    display: inline-block;
    height: 100%;
    background-color: rgba(255,255,255,1);
    overflow-y: scroll;
    box-shadow: -18px 0 20px 5px rgba(42,187,207, 0.3) inset;
    transition: box-shadow 0.3s;
}

.data-view{
    overflow-y: scroll;
}

.category{
    width: 90%;
    padding: 10px 0px 10px 10%;
    cursor: pointer;
    border-left: solid transparent 3px;
    border-bottom: 1px dotted #ccc;
    box-sizing: content-box;
    /*border-right: solid #ccc 1px;*/
}

.opened-category{
    color: rgba(42,187,207, 1);
    border-left: solid rgba(42,187,207, 1) 3px;
    background-color: #FFF;
    box-shadow: 4px 0 8px 0px rgba(42,187,207, 0.6) inset;
    border-right: 1px solid #fff;
    transition: background-color 0.3s, border 0.3s, box-shadow 0.2s 0.1s;
}

.category:hover{
    color: rgba(42,187,207, 1);
}

.profile-info{
    display: inline-block;
    height: auto;
    width: 100%;
}

.student-info-data{
    color: rgba(0,87,129, 1);
}

.btn{
    display:block;
    width:  100px;
    color: #FFF;
    padding: 5px 0;
    background-clip: border-box;
    background-color: rgba(243,205,89, 1);
    border: 1px solid rgba(100,100,100,0.3);
    border-radius: 5px;
    border-bottom-width: 4px;
    font-weight: bolder;
    margin: auto;
    cursor: pointer;
}

.btn:focus, .btn:active{
    outline: none;
}

.save-btn{
    display: none;
    background-color: #45D6E9;
}

.save-icon{
    position: relative;
    top: 0;
    right: 0;
    float: right;
    cursor: pointer;
    font-size: 15px;
    color: rgba(0,87,129, 1);
   
}
.save-icon::before{
    content: "\F0C7";
}

.profile-info-overview{
    display: block;
    padding: 0 2% 0 2%;
}

.info-overview-section{
    display: inline-block; 
    width: 100%;
    height: 100%;
    color: #000;
}

.info-overview-section > .student-info-overview-list > li{
    list-style: none;
    height: 25%;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #ccc;
}

.info-overview-section > .student-info-overview-list > li:last-child{
    border-bottom: none;
}

.student-overview-info{
    width: 100%;
    display: inline-block;
    color: #000;
    margin: 5% 0 5% 0;
    padding: 5% 0 5% 1%; 
}


.student-overview-info:hover{
    background-color:  rgba(228, 228, 228, 0.50);
}

.info-overview-section-2{
    display: inline-block;
    margin-left: 1%;
    width: 39%;
    height: 100%;
    color: #000;
}

.student-side-info-block{
    height: 100%;
    width: 88%;
    display: inline-block;
}

.info-overview-section-2 > .student-info-overview-list > li {
    list-style: none;
    height: 20%;
    width: 100%;
}

.side-icon{
    vertical-align: top;
    height: 100%;
    width: 9%;
    display: inline-block;
    margin-right: 2.5%;
}

.edit-info{
    color: rgba(0,87,129, 1);
    float: right;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
    padding-left: 5px;
    border-left-style: solid;
    border-left-width: thin;
    border-left-color: rgb(58, 128, 162);
}

input[readonly]{
    border: none;
    color: rgba(0,87,129, 1); 
    width: auto;
    background-color: rgba(255, 255, 255, 0)
}

.student-info-optional > input[readonly]{
    width: 40%;
}

.company-icon::before{
    content: "\f0f7";
    font-style: normal;
    padding-right: 5%;
}

.job-icon::before{
    content: "\f0b1";
    font-style: normal;
    padding-right: 5%;
}

.contact-number-icon::before{  
    content: "\f095";
    font-style: normal;
    padding-right: 5%;
}

                        /*Overview category ended*/
                /*education category starts*/

.profile-info-education{
    height: auto;
    display:none;
}

.info-section{
    height: auto;
    min-height: 300px;
    padding: 0 2% 0 2%;
}

.student-info-list{
    width: 100%;
    height: 100%;
    padding: 0; 
}

.info-section > .student-info-list > li{
    list-style: none;
    height: 25%;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #ccc;
}

.info-section > .student-info-list > li:last-child{
    border-bottom: none;
}

.student-info{
    width: 100%;
    height: 75%;
    color: #000;
    margin: 1% 0 1% 0;
    padding: 5% 0 3% 10%; 
}

.student-info:hover{
    background-color: rgba(228, 228, 228, 0.50);;
}

.profile-info-certificate{
    height: auto;
    display: none;
}
.profile-info-personal{
    display: none;
    height: auto;
}

.delete-number-btn{
    display: inline-block;
    cursor: pointer;
}
.profile-info-career{
    display: none;
    height: auto;
}

.profile-info-social{
    display: none;
}

.social-icons{
    font-size: 100px;
    padding-left: 15%;
    margin-top: 100px;
    color:rgba(0,87,129, 0.7);
}

.facebook::before{
    content: "\f230";
}

.facebook:hover{
    color: #3B5998;
}

.twitter::before{
    content: "\f081";
}

.twitter:hover{
    color: #1DA1F2;
}

.linkedIn::before{
    content: "\f08c";
}

.linkedIn:hover{
    color: #0177B5;
}

.profile-info-resume{
    display: none;
}
/* uploading Resume*/
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

footer{
    position: absolute;
    right: 0;
    left: 0;
    background-color: #333;
    border-top: 2px solid rgba(42,187,207, 1);
    height: 70px;
    bottom: 0;
    box-shadow: 0 -2px 8px 1px rgba(42,187,207, 0.5);
    color: #FFF;
    font-size: 0.9em;
    padding: 10px 5px;
}

footer address small a{
    display: inline-block;
    margin-bottom: 1px;
    text-shadow: 0 0 6px rgba(16,145,185,1);
    color: #FFF;
}

footer address small a:before{
    margin-right: 5px;
    font-style: normal;
}


/* Selectors Entered via js */
.editBlock{
    box-shadow: -18px 0 20px 5px rgba(243,205,89, 0.5) inset;
    transition: box-shadow 0.3s;
}


.showBlock{
    display: block;
}

.hide{
    display: none;
}

@media only screen and (max-width: 1000px){
    .profile-container{
        width: 100%;
        margin: 0;
        height: 65%;
    }

    body .main-content{
        width: 100%;
        margin: 0;
}
}

@media only screen and (max-width: 680px){
    
    body{
    font-size: 0.9em;
}
    
    .profile-img-block.outsider{
    width: 100px;
    height: 100px;
    border-width: 2px;
}
}

@media only screen and (max-width: 620px){
    .general-info > ul > li:nth-child(odd){
    margin-left: 0;
}

.general-info > ul > li{
    width: 100%;
}

.profile-info-block{
    position: relative;
    border-radius: 0;
}

.mobile-menu{
    display: block;
}

.right-div{
    height: 92%;
    width: 100%;
}

.menu{
    visibility: hidden;
    width: 0%;
    position: absolute;
    background-color: rgba(252,252,252, 1 );
    box-shadow: 0 2px 8px 1px #ccc;
    border-radius: 0;
}

.menu > *{
    opacity: 0;
}

.toggle-menu{
    height: 92%;
    width: 25%;
    transition: width 0.3s;
}

.toggle-menu > *{
    opacity: 1;
    transition: opacity 0.2s 0.2s;
}

.show{
    visibility: visible;
}

.category{
    padding: 10px 0px 10px 8%;
}

}

@media only screen and (max-width: 500px){
    .top-functions{
    height: 50px;
}

.main-content{
    padding-top: 90px;
}

.profile-img-block.outsider{
    width: 80px;
    height: 80px;
    border-width: 2px;
    top: -20px;
}

.profile-heading{
    border-bottom-width: 3px;
}

.profile-info-block{
    margin-top: 20px;
    border-top-width: 3px;
    font-size: 0.8em;
}

.general-info > ul > li{
    font-size: 0.9em;
}

.styledBtn{
    height: 35px;
    width: 35px;
    right: 35px;
    bottom: 15px;
}

}

@media only screen and (max-width: 370px){
    .category{
    padding-left: 8px;
    border-left: 2px solid transparent;
}
.opened-category{
    border-left: solid rgba(42,187,207, 1) 2px;
}

.toggle-menu{
    width: 100px;
}

}