*{
    box-sizing: border-box;
}

body{
    background-color: #fff;
     background-image: url(../img/body.jpg);
        font-family: Cambria;
}


.search-panel{
  height: 18%;
}

.search-panel > div{
  height: 33.33%;
}

.search-box{
  padding-top: 15px;
  position: relative;

}

.search-box > .search{
  width: 35%;
  vertical-align: bottom;
  padding: 5px 5px;
  border: 1px solid #ddd;
  border-right: none;
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 155px;
}

.search-box > .N{
    position: absolute;
    top: 30px;
    right: 30px;
}

.search-box > .P{
    position: absolute;
    top: 30px;
    right: 100px;
}

.search-box > .search-btn{
  padding: 5px 20px;
  background-color: #FFF;
  font-weight: bold;
  font-family: Segoe MDL2 Assets;
  border: 1px solid #ddd;
  border-left: none;
  display: inline-block;
  color: #fff;
  background-color: #45D6E9;
  position: absolute;
  top: 30px;
  left: 630px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding-right: 35px;

    font-size: 14px;
    border: none;
    cursor: pointer;
    position: absolute;
    top:  2px;
    left: 700px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    padding: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top:  5px;
    left: 900px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



.grouping{
  position: relative;
}

.catagories{
  position: absolute;
  top: 105px;
  left: 159px;;
}

.grouping > .catagories > a{
  border: 1px solid transparent;
  border-bottom: none;
  display: inline-block;
  text-decoration: none;
  color: #999;
  padding: 10px 100px;
  background-color: rgba(255, 255, 255, 0.6);
}

.grouping > .catagories > a.allCata:hover{
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #2ABBCF;
}

.grouping > .catagories > a.master:hover{
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #C00;
}

.grouping > .catagories > a.bacholer:hover{
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #0C0;
}

.grouping > .catagories > a:hover{
  border: 1px solid #ddd;
  border-bottom: none;
  color: #888;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 1);;
}





.side-navegation{
    width: 10%;
    height: 100%;
    background-color: rgba(37, 182, 201, 0.5);
    background-image: url("img/header-style.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    float: left;
    padding-top: 60px;
    position: relative;
    padding-bottom: 50px;
    margin-right: 5px;   

}


.logo{
  margin-top: 65%;
  margin-bottom: 65%;
  height: 40%;
}

.logo img{
  display: block;
  margin: auto;
  width: 30%;
  height: auto;
}

.options > ul{
  padding: 0;
  list-style: none;
  
}

.options > ul > li{
  display: block;
}

.options > ul > li > a{
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  padding: 15px 0;
  font-size: 1.5em;
}

.options > ul > li > a:hover{
  font-weight: bold;
}


label{
    padding-bottom: 25px;
}

input{
    float: right;
}

.outer-layer{
   box-shadow: 2px 2px 10px grey;
    overflow-x: auto;
    float: left;
    background-color: #f3f3f3;
    width: 87%;
    height: 499px; 
    position: relative;
    top: 150px;
    left: 20px;
}

table{
    background-color: rgba(232, 232, 232, 0.49);
    display: block;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    float: left;
    background-color: #f3f3f3;
}

thead{
     display:block; 
     
}

tbody{

    display:block;
    height: 100%;
}

th{
    border: none;
    text-align: center;
    color: #0094ff;
    width: 1%;
   
}

td{
    cursor: pointer;
    border: none;
    text-align: center;
    width: 2%;
    padding: 5px 0px 5px 0px;
}
.dropped-down{
    color: rgba(40, 43, 200, 0.69);
    background-color: rgba(90, 108, 255, 0.22);
    border-left-style: solid;
    border-left-color: rgba(48, 81, 238, 0.42);
    -webkit-box-shadow: 14px -10px 18px -7px rgba(0,0,0,0.35);
    -moz-box-shadow: 14px -10px 18px -7px rgba(0,0,0,0.35);
    box-shadow: 14px -10px 18px -7px rgba(0,0,0,0.35);
}
.drop-down{
    height: 80px;
    background-color: rgba(90, 108, 255, 0.22);
    border-left-style: solid;
    border-left-color: rgba(48, 81, 238, 0.42);
    width: 100%;
    text-align: center;
    padding: 5px 0px 5px 0px;
    -webkit-box-shadow: 11px 8px 18px -7px rgba(0,0,0,0.35);
    -moz-box-shadow: 11px 8px 18px -7px rgba(0,0,0,0.35);
    box-shadow: 11px 8px 18px -7px rgba(0,0,0,0.35);   

}
.ID{
    width: 2px;
}

tr:hover{
    -webkit-box-shadow: 0px 0px 6px 2px rgba(19,138,189,0.45);
    -moz-box-shadow: 0px 0px 6px 2px rgba(19,138,189,0.45);
    box-shadow: 0px 0px 6px 2px rgba(19,138,189,0.45);
    background-color: rgba(162, 192, 255, 0.4);
}

.not-active-icon{
 
 text-align: center;
 padding-left: 8px;
 padding-top: 3px;
}

